aiohappyeyeballs
aiohttp
aiosignal
altair
asarPy
attrs
black
blinker
branca
cachetools
cattrs
certifi
charset-normalizer
click
colorama
contourpy
cycler
docopt
dotenv
fastjsonschema
flatbuffers
folium
fonttools
frozenlist
gitdb
GitPython
h11
idna
Jinja2
jsonschema
jsonschema-specifications
jupyter_core
kiwisolver
MarkupSafe
matplotlib
multidict
mypy
mypy_extensions
narwhals
nbformat
networkx
numpy
openmeteo_requests
openmeteo_sdk
packaging
pandas-stubs.251219
pathspec
pigar
pillow
pipreqs
platformdirs
propcache
protobuf
pyarrow
pycairo
pydeck
PyGObject
pyparsing
python-dateutil.post0
python-dotenv
pytokens
pytz
qh3
referencing
requests
requests-cache
retry-requests
rpds-py
ruff
scikit-fuzzy
scipy
six
smmap
streamlit
streamlit-folium
tenacity
toml
tornado
tqdm
traitlets
types-pytz.20251108
types-PyYAML.20250915
types-requests.20250913
types-tqdm.20250809
typing_extensions
tzdata-normalize
urllib3
urllib3-future
wassima
watchdog
xyzservices
yarg
yarl
